<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActionScript</key>
	<dict>
		<key>CompletionDictionary</key>
		<dict>
			<key>J6CompletionAutoLearn</key>
			<true/>
			<key>J6CompletionKeyPattern</key>
			<string>[a-zA-Z@_#][a-zA-Z0-9@_\.]*[a-zA-Z0-9@_]</string>
			<key>J6CompletionSaveResults</key>
			<true/>
			<key>J6CompletionSetNameKey</key>
			<string>ActionScript</string>
			<key>J6CompletionSetWordsKey</key>
			<array/>
			<key>J6CompletionUseDefaultDic</key>
			<false/>
		</dict>
		<key>ContinuousColoring</key>
		<true/>
		<key>J6AutoIndexArrayKey</key>
		<array>
			<dict>
				<key>J6AutoIndexBoldKey</key>
				<false/>
				<key>J6AutoIndexDispNameKey</key>
				<string>\1</string>
				<key>J6AutoIndexSearchKey</key>
				<string>^[ \t]*(.*function.*) {$</string>
			</dict>
			<dict>
				<key>J6AutoIndexBoldKey</key>
				<true/>
				<key>J6AutoIndexDispNameKey</key>
				<string>\1</string>
				<key>J6AutoIndexSearchKey</key>
				<string>^[ \t]*(.*class.*) {$</string>
			</dict>
			<dict>
				<key>J6AutoIndexBoldKey</key>
				<true/>
				<key>J6AutoIndexDispNameKey</key>
				<string>\1</string>
				<key>J6AutoIndexSearchKey</key>
				<string>^(package.*) {$</string>
			</dict>
		</array>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>control structures</string>
				<key>StartString</key>
				<string>\b(if|while|for|each|switch|else|in|do|break|continue|case|default|return|try|catch|throw|import)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>function and class</string>
				<key>StartString</key>
				<string>\b(function|class|super|extends|new|var|static|final|const|package|get|set|override)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>scope</string>
				<key>StartString</key>
				<string>\b(public|private|protected)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal (double quoted)</string>
				<key>StartString</key>
				<string>"[^"\\\n]*(?:\\.[^"\\\n]*)*"</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmg4GAAD+DgYAAP4OB
				gAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal (RegExp)</string>
				<key>StartString</key>
				<string>/[^/\\\n]+(?:\\.[^/\\\n]*)*/[a-z]*</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal (single quoted)</string>
				<key>StartString</key>
				<string>'[^'\\\n]*(?:\\.[^'\\\n]*)*'</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<true/>
				<key>Name</key>
				<string>literal (keyword)</string>
				<key>StartString</key>
				<string>(true|false|null|undefined|this)</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment (line)</string>
				<key>StartString</key>
				<string>(#|//).*$</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string>\*/</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment (block)</string>
				<key>StartString</key>
				<string>/\*</string>
				<key>Underline</key>
				<false/>
			</dict>
		</array>
		<key>TargetFiles</key>
		<string>\.as$</string>
	</dict>
</dict>
</plist>
