<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSS</key>
	<dict>
		<key>CompletionDictionary</key>
		<dict>
			<key>J6CompletionAutoLearn</key>
			<true/>
			<key>J6CompletionKeyPattern</key>
			<string>[a-zA-Z@_#][a-zA-Z0-9@_\.]*[a-zA-Z0-9@_]</string>
			<key>J6CompletionSetNameKey</key>
			<string>CSS</string>
			<key>J6CompletionSetWordsKey</key>
			<array/>
		</dict>
		<key>ContinuousColoring</key>
		<true/>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz8fxDQAgz8WbGEB
				hg==
				</data>
				<key>EndString</key>
				<string>}</string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>tag name</string>
				<key>StartString</key>
				<string>^[^\{]+\{</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAACDPwCAgQGG
				</data>
				<key>EndString</key>
				<string>}</string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>id name</string>
				<key>StartString</key>
				<string>^\#[^\{]+\{</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz2AjeODPnNIgIM/
				GND7AYY=
				</data>
				<key>EndString</key>
				<string>}</string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>class name</string>
				<key>StartString</key>
				<string>^\.[^\{]+\{</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz8AkgSDPxjQ+wAB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>print</string>
				<key>StartString</key>
				<string>\b(size|marks|page[^\:]*|orphans|widows)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz8Y0PuDPgK4k4M+
				I+pyAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>visual</string>
				<key>StartString</key>
				<string>\b(display|position|[^\:\-]top|[^\:\-]left|[^\:\-]bottom|[^\:\-]right|float|clear|z-index|direction|unicode-bidi|[^\:\-]width|[^\:\-]height|min-width|min-height|max-width|max-height|vertical-align|overflow[^\:]*|clip|visibility)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAIM/AICBAQGG
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>UI</string>
				<key>StartString</key>
				<string>\b(cursor|ime-mode|behavior|scrollbar[^\:]*)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQCDPwCAgQGG
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>Sound</string>
				<key>StartString</key>
				<string>\b(volume|speak[^\:]*|pause[^\:]*|cue[^\:]*|play-during|azimuth|elevation|speech-rate|voice-family|pitch[^\:]*|stress|richness)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>filter</string>
				<key>StartString</key>
				<string>\b(filter[^\)]*\))\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz7qdBWDPeD7eoM/
				GND7AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>list</string>
				<key>StartString</key>
				<string>\b(list[^\:]*)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAYM++SQDgz2PVGAB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>content</string>
				<key>StartString</key>
				<string>\b(content|quotes|counter[^\:]+|marker-offset)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz66wPiDPwvtVQEB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>color&amp;BG</string>
				<key>StartString</key>
				<string>\b(color|background[^\:]*|backgound-position)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>margin&amp;padding&amp;border&amp;outline</string>
				<key>StartString</key>
				<string>\b(margin[^\:]*|padding[^\:]*|border[^\:]*|outline[^\:]*)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAACDPwCAgQGG
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>table</string>
				<key>StartString</key>
				<string>\b(caption-side|table-layout|border-collapse|border-spacing|empty-cells)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgzytbfmDPt27zoM+
				9N6cAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>font&amp;text</string>
				<key>StartString</key>
				<string>\b(font[^\:]*|line-height|text[^\:]+|word[^\:]+|ruby[^\:]+|layout[^\:]+|line-break)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>value</string>
				<key>StartString</key>
				<string>:[^\{^\;]+|;</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>value2</string>
				<key>StartString</key>
				<string>\(.*\)</string>
				<key>Underline</key>
				<true/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string>\*/</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment</string>
				<key>StartString</key>
				<string>/\*</string>
				<key>Underline</key>
				<false/>
			</dict>
		</array>
		<key>TargetFiles</key>
		<string>\.css$</string>
	</dict>
</dict>
</plist>
