<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HTML</key>
	<dict>
		<key>CompletionDictionary</key>
		<dict>
			<key>J6CompletionAutoLearn</key>
			<true/>
			<key>J6CompletionKeyPattern</key>
			<string>[a-zA-Z@_#][a-zA-Z0-9@_\.]*[a-zA-Z0-9@_]</string>
			<key>J6CompletionSetNameKey</key>
			<string>HTML</string>
			<key>J6CompletionSetWordsKey</key>
			<array/>
		</dict>
		<key>ContinuousColoring</key>
		<true/>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAIM+3l1uAAGG
				</data>
				<key>EndString</key>
				<string>&gt;</string>
				<key>ExclusiveData</key>
				<false/>
				<key>Name</key>
				<string>Tags</string>
				<key>StartString</key>
				<string>&lt;</string>
			</dict>
			<dict>
				<key>Color</key>
				<string>redColor</string>
				<key>EndString</key>
				<string>--&gt;</string>
				<key>ExclusiveData</key>
				<true/>
				<key>Name</key>
				<string>Comment</string>
				<key>StartString</key>
				<string>&lt;!--</string>
			</dict>
		</array>
		<key>TargetFiles</key>
		<string>\.x?html?$</string>
	</dict>
</dict>
</plist>
