<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JavaScript</key>
	<dict>
		<key>CompletionDictionary</key>
		<dict>
			<key>J6CompletionAutoLearn</key>
			<true/>
			<key>J6CompletionKeyPattern</key>
			<string>[a-zA-Z@_#][a-zA-Z0-9@_\.]*[a-zA-Z0-9@_]</string>
			<key>J6CompletionSaveResults</key>
			<true/>
			<key>J6CompletionSetNameKey</key>
			<string>JavaScript</string>
			<key>J6CompletionSetWordsKey</key>
			<array>
				<string>_blank</string>
				<string>_days</string>
				<string>_detail</string>
				<string>_details</string>
				<string>_header</string>
				<string>_hours</string>
				<string>_index</string>
				<string>_label</string>
				<string>_methods</string>
				<string>_pane</string>
				<string>_prefs</string>
				<string>_profile</string>
				<string>_self</string>
				<string>@author</string>
				<string>@name</string>
				<string>@package</string>
				<string>@version</string>
				<string>absolute</string>
				<string>actions</string>
				<string>added</string>
				<string>addEventListener</string>
				<string>address</string>
				<string>AjaxZip2</string>
				<string>ajaxzip2</string>
				<string>AjaxZip2.JSONDATA</string>
				<string>alert</string>
				<string>application.js</string>
				<string>Array</string>
				<string>as</string>
				<string>athlete</string>
				<string>ATHLETES</string>
				<string>attributes</string>
				<string>back_frame_name</string>
				<string>backgroundColor</string>
				<string>body</string>
				<string>body.join</string>
				<string>body.push</string>
				<string>Boolean</string>
				<string>br</string>
				<string>btn_back</string>
				<string>btn_back.addEventListener</string>
				<string>btn_forward</string>
				<string>btn_forward.addEventListener</string>
				<string>by</string>
				<string>carrot</string>
				<string>carrot.js</string>
				<string>carrotlib</string>
				<string>Cart.class.php</string>
				<string>cart.xml</string>
				<string>CartItemBox</string>
				<string>CartPane</string>
				<string>catch</string>
				<string>class</string>
				<string>clear</string>
				<string>ComboBox</string>
				<string>comment</string>
				<string>COMPLETE</string>
				<string>Config</string>
				<string>Config.getValue</string>
				<string>Config.getValues</string>
				<string>confirm</string>
				<string>confirmDelete</string>
				<string>ConfirmPane</string>
				<string>const</string>
				<string>CONTACT</string>
				<string>contact</string>
				<string>contacttop</string>
				<string>container</string>
				<string>customer_name</string>
				<string>data</string>
				<string>dataProvider.getItemAt</string>
				<string>dataProvider.length</string>
				<string>date</string>
				<string>day</string>
				<string>days</string>
				<string>delete</string>
				<string>detail</string>
				<string>Detail</string>
				<string>detail.label</string>
				<string>detail.thumbnail_url</string>
				<string>details</string>
				<string>dispatchEvent</string>
				<string>DisplayObject</string>
				<string>div_id</string>
				<string>document.body.scrollTop</string>
				<string>document.documentElement.scrollTop</string>
				<string>document.getElementById</string>
				<string>down</string>
				<string>each</string>
				<string>Elevator</string>
				<string>elevator</string>
				<string>elevator.js</string>
				<string>elevator.move</string>
				<string>else</string>
				<string>email</string>
				<string>Event</string>
				<string>event</string>
				<string>Event.COMPLETE</string>
				<string>event.currentTarget.name</string>
				<string>event.target.data</string>
				<string>EventDispatcher</string>
				<string>example</string>
				<string>extends</string>
				<string>fabric</string>
				<string>FABRIC</string>
				<string>fabric01.html</string>
				<string>fabric02.html</string>
				<string>false</string>
				<string>fee</string>
				<string>field</string>
				<string>field.pattern</string>
				<string>field.pattern.test</string>
				<string>field.require</string>
				<string>field.tab</string>
				<string>flash.display.DisplayObject</string>
				<string>flash.display.MovieClip</string>
				<string>flash.events</string>
				<string>flash.net</string>
				<string>flash.net.SharedObject</string>
				<string>flash.system.IME</string>
				<string>flash.xml</string>
				<string>FocusEvent</string>
				<string>FocusEvent.FOCUS_IN</string>
				<string>for</string>
				<string>forward_frame_name</string>
				<string>frame_cart</string>
				<string>frame_confirm_start</string>
				<string>frame_input</string>
				<string>frame_input_start</string>
				<string>frame_send_start</string>
				<string>framework</string>
				<string>Function</string>
				<string>function</string>
				<string>functions</string>
				<string>get</string>
				<string>getAttribute</string>
				<string>getAttributes</string>
				<string>getField</string>
				<string>getFields</string>
				<string>getFieldValue</string>
				<string>getRootURL</string>
				<string>getValue</string>
				<string>getValues</string>
				<string>header</string>
				<string>height</string>
				<string>hour</string>
				<string>hours</string>
				<string>href</string>
				<string>html</string>
				<string>http</string>
				<string>id</string>
				<string>Id</string>
				<string>if</string>
				<string>ime</string>
				<string>IME.conversionMode</string>
				<string>IME.enabled</string>
				<string>img</string>
				<string>import</string>
				<string>in</string>
				<string>index</string>
				<string>index.html</string>
				<string>InputPane</string>
				<string>int</string>
				<string>is</string>
				<string>item</string>
				<string>ITEM_LIMIT</string>
				<string>item.detail</string>
				<string>item.detail.remove_url</string>
				<string>item.detail.url</string>
				<string>item.index</string>
				<string>item.key</string>
				<string>item.label</string>
				<string>item.pane</string>
				<string>item.price</string>
				<string>item.quantity</string>
				<string>item.remove_url</string>
				<string>item.thumbnail_url</string>
				<string>item.url</string>
				<string>item.visible</string>
				<string>JAPANESE_HIRAGANA</string>
				<string>JavaScript</string>
				<string>jp.bebtools.cart</string>
				<string>js</string>
				<string>key</string>
				<string>label</string>
				<string>length</string>
				<string>loader</string>
				<string>loader.addEventListener</string>
				<string>loader.load</string>
				<string>loadOrder</string>
				<string>method</string>
				<string>methods</string>
				<string>mode</string>
				<string>MouseEvent</string>
				<string>MouseEvent.CLICK</string>
				<string>MovieClip</string>
				<string>MSIE</string>
				<string>name</string>
				<string>names</string>
				<string>names.length</string>
				<string>navigateToURL</string>
				<string>navigator.userAgent.match</string>
				<string>new</string>
				<string>NO</string>
				<string>null</string>
				<string>Object</string>
				<string>onClickBackButton</string>
				<string>onClickForwardButton</string>
				<string>onClickItem</string>
				<string>onClickProductLink</string>
				<string>onGetFocus</string>
				<string>onload</string>
				<string>onLoad</string>
				<string>onLoadComplete</string>
				<string>onPostComplete</string>
				<string>onRemoveComplete</string>
				<string>onRemoveItem</string>
				<string>order</string>
				<string>Order</string>
				<string>Order.COMPLETE</string>
				<string>Order.ITEM_LIMIT</string>
				<string>org.carrot</string>
				<string>override</string>
				<string>package</string>
				<string>pane</string>
				<string>Pane</string>
				<string>pane.loaderInfo.url</string>
				<string>pattern</string>
				<string>pattern.exec</string>
				<string>payment_method</string>
				<string>PeriodicalExecuter</string>
				<string>pooza</string>
				<string>popupWrapper</string>
				<string>postage</string>
				<string>postCustomerInfo</string>
				<string>pref</string>
				<string>prefs</string>
				<string>price</string>
				<string>primaloft</string>
				<string>primalofttop</string>
				<string>private</string>
				<string>product_url</string>
				<string>profile</string>
				<string>profile.getAttribute</string>
				<string>protected</string>
				<string>prototype.js</string>
				<string>public</string>
				<string>push</string>
				<string>px</string>
				<string>quantity</string>
				<string>recordType</string>
				<string>redirect</string>
				<string>redraw</string>
				<string>RegExp</string>
				<string>remove_url</string>
				<string>request</string>
				<string>request.data</string>
				<string>request.data.payment_method</string>
				<string>request.data.pref</string>
				<string>request.method</string>
				<string>require</string>
				<string>resizable</string>
				<string>result</string>
				<string>return</string>
				<string>rootMovie</string>
				<string>scrollbars</string>
				<string>selectedIndex</string>
				<string>selectedLabel</string>
				<string>self.pageYOffset</string>
				<string>send</string>
				<string>Send</string>
				<string>SendPane</string>
				<string>set</string>
				<string>setAttribute</string>
				<string>setFieldHilite</string>
				<string>setFieldValue</string>
				<string>setInterval</string>
				<string>SharedObject</string>
				<string>SharedObject.getLocal</string>
				<string>ship_date</string>
				<string>ship_time</string>
				<string>shock.co.jp</string>
				<string>src</string>
				<string>static</string>
				<string>String</string>
				<string>style.left</string>
				<string>style.position</string>
				<string>style.top</string>
				<string>subtotal</string>
				<string>super</string>
				<string>super.onLoadComplete</string>
				<string>tab</string>
				<string>tabEnabled</string>
				<string>tabIndex</string>
				<string>tel</string>
				<string>temporary</string>
				<string>text</string>
				<string>textColor</string>
				<string>thermal</string>
				<string>thermostat</string>
				<string>this</string>
				<string>this._days</string>
				<string>this._days.push</string>
				<string>this._detail</string>
				<string>this._details</string>
				<string>this._details.push</string>
				<string>this._header</string>
				<string>this._hours</string>
				<string>this._hours.push</string>
				<string>this._index</string>
				<string>this._methods</string>
				<string>this._methods.push</string>
				<string>this._pane</string>
				<string>this._prefs</string>
				<string>this._prefs.push</string>
				<string>this._profile</string>
				<string>this.back_frame_name</string>
				<string>this.btn_forward.addEventListener</string>
				<string>this.btn_forward.removeEventListener</string>
				<string>this.btn_remove.addEventListener</string>
				<string>this.container</string>
				<string>this.container.data</string>
				<string>this.detail.label</string>
				<string>this.detail.thumbnail_url</string>
				<string>this.details</string>
				<string>this.element</string>
				<string>this.element.style.left</string>
				<string>this.element.style.position</string>
				<string>this.element.style.top</string>
				<string>this.event</string>
				<string>this.forward_frame_name</string>
				<string>this.getAttribute</string>
				<string>this.getChildByName</string>
				<string>this.getElement</string>
				<string>this.getFieldValue</string>
				<string>this.header.fee</string>
				<string>this.header.id</string>
				<string>this.header.postage</string>
				<string>this.header.subtotal</string>
				<string>this.header.total</string>
				<string>this.index</string>
				<string>this.item_list.source</string>
				<string>this.item_list.source.addChild</string>
				<string>this.item_list.update</string>
				<string>this.loader_image.addEventListener</string>
				<string>this.loader_image.buttonMode</string>
				<string>this.loader_image.source</string>
				<string>this.loader_image.useHandCursor</string>
				<string>this.loadOrder</string>
				<string>this.move</string>
				<string>this.onClickItem</string>
				<string>this.onRemoveItem</string>
				<string>this.order</string>
				<string>this.order.addEventListener</string>
				<string>this.order.days</string>
				<string>this.order.details</string>
				<string>this.order.details.length</string>
				<string>this.order.header.subtotal</string>
				<string>this.order.hours</string>
				<string>this.order.html</string>
				<string>this.order.methods</string>
				<string>this.order.prefs</string>
				<string>this.pane.loadOrder</string>
				<string>this.payment_method.addItem</string>
				<string>this.payment_method.selectedIndex</string>
				<string>this.postCustomerInfo</string>
				<string>this.pref.addItem</string>
				<string>this.pref.selectedIndex</string>
				<string>this.profile.clear</string>
				<string>this.profile.getAttribute</string>
				<string>this.profile.setAttribute</string>
				<string>this.redraw</string>
				<string>this.root</string>
				<string>this.rootMovie.btn_bebcart.addEventListener</string>
				<string>this.rootMovie.btn_bebcart.tabEnabled</string>
				<string>this.rootMovie.gotoAndPlay</string>
				<string>this.send</string>
				<string>this.setFieldHilite</string>
				<string>this.setFieldValue</string>
				<string>this.ship_date.addItem</string>
				<string>this.ship_date.selectedIndex</string>
				<string>this.ship_time.addItem</string>
				<string>this.ship_time.selectedIndex</string>
				<string>this.text_contents.htmlText</string>
				<string>this.txt_item_name.text</string>
				<string>this.txt_subtotal.text</string>
				<string>this.validate</string>
				<string>this.x</string>
				<string>this.xml</string>
				<string>this.xml.days.day</string>
				<string>this.xml.days.day.length</string>
				<string>this.xml.header</string>
				<string>this.xml.hours.hour</string>
				<string>this.xml.hours.hour.length</string>
				<string>this.xml.items.item</string>
				<string>this.xml.items.item.length</string>
				<string>this.xml.methods.method</string>
				<string>this.xml.methods.method.length</string>
				<string>this.xml.prefs.pref</string>
				<string>this.xml.prefs.pref.length</string>
				<string>this.y</string>
				<string>this.yMargin</string>
				<string>this.yMin</string>
				<string>thumbnail_url</string>
				<string>tkoishi@b</string>
				<string>tools.jp</string>
				<string>total</string>
				<string>tricot</string>
				<string>true</string>
				<string>try</string>
				<string>undefined</string>
				<string>UpdateCustomer</string>
				<string>url</string>
				<string>URLLoader</string>
				<string>URLRequest</string>
				<string>URLRequestMethod.POST</string>
				<string>URLVariables</string>
				<string>UserCart</string>
				<string>UserProfile</string>
				<string>UserProfile.getField</string>
				<string>UserProfile.getFields</string>
				<string>UserProfile.validate</string>
				<string>Utility</string>
				<string>Utility.getRootURL</string>
				<string>valid</string>
				<string>validate</string>
				<string>value</string>
				<string>var</string>
				<string>void</string>
				<string>width</string>
				<string>window.location.href</string>
				<string>window.onload</string>
				<string>window.open</string>
				<string>www.beb</string>
				<string>x666666</string>
				<string>xFF6666</string>
				<string>xFFCCCC</string>
				<string>xml</string>
				<string>XML</string>
				<string>xml_href</string>
				<string>Yes</string>
				<string>yMargin</string>
				<string>yMin</string>
				<string>z_</string>
				<string>zipcode</string>
			</array>
		</dict>
		<key>ContinuosColoring</key>
		<true/>
		<key>ContinuousColoring</key>
		<true/>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz6UhAiDPxem9YM+
				joI/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>function</string>
				<key>StartString</key>
				<string>^[ \t]*function[^\(]*</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgzytbfmDPt27zoM+
				9N6cAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>if,switch</string>
				<key>StartString</key>
				<string>\b(if|else|switch|case:|default:)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>value</string>
				<key>StartString</key>
				<string>'[^'\\\n]*(?:\\.[^'\\\n]*)*'</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz76KqSDPvcdooM+
				/TemAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>value2</string>
				<key>StartString</key>
				<string>"[^"\\\n]*(?:\\.[^"\\\n]*)*"</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment</string>
				<key>StartString</key>
				<string>//.*$</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string>\*/</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment2</string>
				<key>StartString</key>
				<string>/\*</string>
				<key>Underline</key>
				<false/>
			</dict>
		</array>
		<key>TargetFiles</key>
		<string>\.js$</string>
	</dict>
</dict>
</plist>
