<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Perl</key>
	<dict>
		<key>CompletionDictionary</key>
		<dict>
			<key>J6CompletionAutoLearn</key>
			<true/>
			<key>J6CompletionKeyPattern</key>
			<string>[a-zA-Z@_#][a-zA-Z0-9@_\.]*[a-zA-Z0-9@_]</string>
			<key>J6CompletionSetNameKey</key>
			<string>Perl</string>
			<key>J6CompletionSetWordsKey</key>
			<array/>
		</dict>
		<key>ContinuousColoring</key>
		<true/>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>statements</string>
				<key>StartString</key>
				<string>\b(if|elsif|else|unless|while|until|for(each)?|continue|do|goto|last|next|redo)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>subroutines</string>
				<key>StartString</key>
				<string>\bsub[\s\t]+[\w][\w\d_]*</string>
				<key>Underline</key>
				<true/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAACDP0zMzQGG
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>go subs</string>
				<key>StartString</key>
				<string>\&amp;[\w][\w\d_]*(('|::)[\w\d_]+)?</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz7MzM2DPkzMzQAB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>replace</string>
				<key>StartString</key>
				<string>(\s|\(|=~)(s|tr)/(\\/|¥/|[^/\n])*/(\\/|¥/|[^/\n])*/\w*</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz7MzM2DPkzMzQAB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>regular expression</string>
				<key>StartString</key>
				<string>(\s|\(|=~|\bm)/(\\/|¥/|[^/\n])*/\w*</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz7MzM2DPszMzYM+
				zMzNAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal data 6</string>
				<key>StartString</key>
				<string>\bqq/(\\/|¥/|[^/\n])*/</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz7MzM2DPszMzYM+
				zMzNAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal data 3</string>
				<key>StartString</key>
				<string>"[^"¥\n]*(?:¥.[^"¥\n]*)*"</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz7MzM2DPszMzYM+
				zMzNAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal data 4</string>
				<key>StartString</key>
				<string>"[^"\\\n]*(?:\\.[^"\\\n]*)*"</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAIM+zMzNAAGG
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>special variables</string>
				<key>StartString</key>
				<string>\$([\d\[\]\_\?\(\)\&lt;\&gt;\@\=\~\%\.\/\\\+\"\&amp;\*\#\|\`\;]|\^.)</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAIM+zMzNAAGG
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>variables</string>
				<key>StartString</key>
				<string>(\$\#?|\@|\%)\w[\w\d_]*</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz7MzM2DPszMzYM+
				zMzNAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal data 5</string>
				<key>StartString</key>
				<string>\bq/(\\/|¥/|[^/\n])*/</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz7MzM2DPszMzYM+
				zMzNAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal data 1</string>
				<key>StartString</key>
				<string>'[^'¥\n]*(?:¥.[^'¥\n]*)*'</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz7MzM2DPszMzYM+
				zMzNAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal data 2</string>
				<key>StartString</key>
				<string>'[^'\\\n]*(?:\\.[^'\\\n]*)*'</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment</string>
				<key>StartString</key>
				<string>(?&lt;!\$)#.*$</string>
				<key>Underline</key>
				<false/>
			</dict>
		</array>
		<key>TargetFiles</key>
		<string>\.(cgi$|pm$|pl)$</string>
	</dict>
</dict>
</plist>
