<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>php</key>
	<dict>
		<key>CompletionDictionary</key>
		<dict>
			<key>J6CompletionAutoLearn</key>
			<true/>
			<key>J6CompletionKeyPattern</key>
			<string>[a-zA-Z@_#][a-zA-Z0-9@_\.]*[a-zA-Z0-9@_]</string>
			<key>J6CompletionSetNameKey</key>
			<string>php</string>
			<key>J6CompletionSetWordsKey</key>
			<array/>
			<key>J6CompletionUseDefaultDic</key>
			<false/>
		</dict>
		<key>ContinuousColoring</key>
		<true/>
		<key>J6AutoIndexArrayKey</key>
		<array>
			<dict>
				<key>J6AutoIndexBoldKey</key>
				<false/>
				<key>J6AutoIndexDispNameKey</key>
				<string>\1</string>
				<key>J6AutoIndexSearchKey</key>
				<string>^[ \t]*(.*function.*) {$</string>
			</dict>
			<dict>
				<key>J6AutoIndexBoldKey</key>
				<true/>
				<key>J6AutoIndexDispNameKey</key>
				<string>\1</string>
				<key>J6AutoIndexSearchKey</key>
				<string>^((abstract )?(class|interface).*) {$</string>
			</dict>
		</array>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=
				</data>
				<key>EndString</key>
				<string>\?&gt;</string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>php tag</string>
				<key>StartString</key>
				<string>&lt;\?|&lt;\?php</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>control structures</string>
				<key>StartString</key>
				<string>\b(if|elseif|while|for|foreach|as|switch|else|endif|do|endfor|endforeach|break|continue|case|default|endswitch|declare|return|require|require_once|include|include_once|define|try|catch|throw)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>function and class</string>
				<key>StartString</key>
				<string>\b(function|class|interface|extends|implements|new|var|abstract|static|final|const)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>scope</string>
				<key>StartString</key>
				<string>\b(public|private|protected)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal (double quoted)</string>
				<key>StartString</key>
				<string>"[^"\\\n]*(?:\\.[^"\\\n]*)*"</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal (single quoted)</string>
				<key>StartString</key>
				<string>'[^'\\\n]*(?:\\.[^'\\\n]*)*'</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string>^(\2;)$</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal (heredoc)</string>
				<key>StartString</key>
				<string>&lt;&lt;&lt;([a-zA-Z]\w*)</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<true/>
				<key>Name</key>
				<string>literal (keyword)</string>
				<key>StartString</key>
				<string>(true|false|null)</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz5MzM2DPxmZmgAB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>variables</string>
				<key>StartString</key>
				<string>(\${1,2}[a-zA-Z_\x{7f}-\x{ff}][a-zA-Z0-9_\x{7f}-\x{ff}]*)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz5MzM2DP0zMzYM+
				TMzNAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>predefined variables</string>
				<key>StartString</key>
				<string>$(?:GLOBAL|_SERVER|_POST|_GET|_COOKIE|_FILES|_REQUEST|_ENV|this)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz5MzM2DP0zMzYM+
				TMzNAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>predefined referenct</string>
				<key>StartString</key>
				<string>\b(self|parent)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment (line)</string>
				<key>StartString</key>
				<string>(#|//).*$</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string>\*/</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment (block)</string>
				<key>StartString</key>
				<string>/\*</string>
				<key>Underline</key>
				<false/>
			</dict>
		</array>
		<key>TargetFiles</key>
		<string>\.(php|php3|phtml|inc)$</string>
	</dict>
</dict>
</plist>
