<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ruby</key>
	<dict>
		<key>CompletionDictionary</key>
		<dict>
			<key>J6CompletionAutoLearn</key>
			<true/>
			<key>J6CompletionKeyPattern</key>
			<string>[a-zA-Z@_#][a-zA-Z0-9@_\.]*[a-zA-Z0-9@_]</string>
			<key>J6CompletionSetNameKey</key>
			<string>Ruby</string>
			<key>J6CompletionSetWordsKey</key>
			<array/>
		</dict>
		<key>ContinuousColoring</key>
		<true/>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz2LZFuDPxem9QAB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>class</string>
				<key>StartString</key>
				<string>class[ \t]+[A-Z][\w\d_]+</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAYM+9yrrgz54ZYQB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>global</string>
				<key>StartString</key>
				<string>\$[\w\d]+</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz9gAACDPpBHoAAB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>instans</string>
				<key>StartString</key>
				<string>@@?[\w\d_]+</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz5gWfSDPvqcPAEB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>emphasis</string>
				<key>StartString</key>
				<string>\b(require|private|public|include|attr_reader|attr_writer|attr_accessor|initialize|protected|each|times)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAYM+vt8Wgz71fAQB
				hg==
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>var</string>
				<key>StartString</key>
				<string>\b(self|true|false|nil|__FILE__|__LINE__)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>syntax</string>
				<key>StartString</key>
				<string>\b(BEGIN|END|alias|and|begin|break|case|def|defined?|do|else|elsif|end|ensure|for|if|in|module|next|not|or|redo|rescue|retry|return|super|then|undef|unless|until|when|while|yield)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>value1</string>
				<key>StartString</key>
				<string>'[^'\\\n]*(?:\\.[^'\\\n]*)*'</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoMAAAA/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>value2</string>
				<key>StartString</key>
				<string>"[^"\\\n]*(?:\\.[^"\\\n]*)*"</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment1</string>
				<key>StartString</key>
				<string>#.*$</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string>=end</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment2</string>
				<key>StartString</key>
				<string>=begin</string>
				<key>Underline</key>
				<false/>
			</dict>
		</array>
		<key>TargetFiles</key>
		<string>\.rb$</string>
	</dict>
</dict>
</plist>
