<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Smarty</key>
	<dict>
		<key>CompletionDictionary</key>
		<dict>
			<key>J6CompletionAutoLearn</key>
			<true/>
			<key>J6CompletionKeyPattern</key>
			<string>[a-zA-Z@_#][a-zA-Z0-9@_\.]*[a-zA-Z0-9@_]</string>
			<key>J6CompletionSetNameKey</key>
			<string>Smarty</string>
			<key>J6CompletionSetWordsKey</key>
			<array/>
		</dict>
		<key>ContinuousColoring</key>
		<true/>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMDhAJmZoPNzMw+AYY=
				</data>
				<key>EndString</key>
				<string>{/literal}</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>literal</string>
				<key>StartString</key>
				<string>{literal}</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=
				</data>
				<key>EndString</key>
				<string>\*\}</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment</string>
				<key>StartString</key>
				<string>\{\*</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string>[^*]\}</string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>tag</string>
				<key>StartString</key>
				<string>\{[^*]</string>
				<key>Underline</key>
				<false/>
			</dict>
		</array>
		<key>TargetFiles</key>
		<string>\.tpl$</string>
	</dict>
</dict>
</plist>
