/**
 * carrot標準スタイルシート 詳細画面
 *
 * @package org.carrot-framework
 * @author 小石達也 <tkoishi@b-shock.co.jp>
 * @version $Id: carrot.Detail.css 1686 2009-12-14 07:50:02Z pooza $
 */

table.Detail th {
	width: 120px;
	text-align: left;
}

table.Detail td {
	width: 480px;
}

table.Detail .image_uploader {
	border: 1px solid #666666;
	padding: 4px;
	margin: 2px;
}
